* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Alkatra', cursive;
  }
  
  body {
    background-color: #6B7A8F;
    text-align: center;
    padding-bottom: 2.5rem; 
    font-size: x-large;
  }

  #page-container {
      position: relative;
      min-height: 100vh;
    }
  

  .header {
    background-color: #a28089;
    margin-top: 0px;
    margin-bottom: 58px;
    padding-top: 40px;
  }
  .links {
    padding-inline: 20px;
  }

  .footer {
    position: fixed;
    padding: 20px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 90px;
    background-color:  #a28089;
  }